<head>

{% load static %}
<!-- start -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
          crossorigin="anonymous">
    <link rel="stylesheet"
      href="{% static 'css/pagination.css' %}">
    <!-- end -->
    <!-- Prism CSS -->
<!--    <link href="{% static 'static/main/css/materialize.min.css' %}" rel="stylesheet">-->
<!--    <link href="{% static 'static/main/js/materialize.min.js' %}" rel="stylesheet">-->
<!--    <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">-->
<!--     Compiled and minified CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--     Compiled and minified JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

    {% include "main/includes/navbaritems.html" %}

    {% include "main/includes/messaging.html" %}

  <div class = "container">
      <br>
      {% block content %}
      {% endblock %}
  </div>
</body>

<!-- Prism JS -->
<script src="{% static 'tinymce/js/prism.js' %}"></script>