{% include "main/includes/navbar-secondary.html" %}

{% include "main/includes/messaging.html" %}
{% block content %}
    <div class = "container">
            {% if user.is_authenticated %}
                <br>
                <h3> <span class="badge badge-secondary">Add a Loaner</span></h3>
                <br>
                <form method = "POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button class="btn btn-dark" type = "submit">Add Loaner</button>
                </form>
                If you already have an account, <strong><a href = 'login/'>login</a></strong>.
        {% else %}
            <p>You don't have permission to access this page. Return Home.</p>
        {% endif %}
    </div>
{% endblock %}


