{% include "main/includes/navbar-secondary.html" %}

{% include "main/includes/messaging.html" %}

{% block content %}
<div class = "container">
    {% if user.is_authenticated %}
        <br>
        <h3> <span class="badge badge-secondary">Add Loaner</span></h3>
        <br>
        <form method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formLoan.as_p }}
            <br>
            <button class="btn btn-dark" type = "submit">Save Loan</button>
        </form>
        If you want to create a new Loaner, go to <strong><a href = 'loaner/'> LOANER</a></strong>.
    {% else %}
        <p>You don't have permission to access this page. Return Home.</p>
    {% endif %}
</div>
{% endblock %}