{% extends "main/header.html" %}
{% block content %}
    <form method = "POST">
        {% csrf_token %}
        {{ form.as_p  }}
        <br>
        <button class = "btn" type = "submit">Register A Staff Member</button>
    </form>
If you already have an account, <strong><a href = '/login'>login</a></strong> instead.
{% endblock %}

