{% include "main/includes/navbar-secondary.html" %}
{% block content %}
 <div class = "container">
    {% if user.is_authenticated %}

        <br>
        <h3> <span class="badge badge-secondary">Add a Type</span></h3>
        <br>
        <form method = "POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn btn-dark" type = "submit">Add Type</button>
        </form>
        If you already have an account, <strong><a href = 'login/'>login</a></strong>.
         </div>
    {% else %}
        <p>You don't have permission to access this page. Return Home.</p>
    {% endif %}
</div>
{% endblock %}

