<head>

    {% load loan_template_tags %}
    {% load staticfiles %}
    <link rel ="stylesheet" href = "{% static 'main/css/materialize.min.css' %}" type = "text/css" media = "screen">
<!--    <link rel ="stylesheet" href = "{% static 'main/js/materialize.min.js' %}" type = "text/css" media = "screen">-->


    {% block title %}

    <title>FabMSTIC</title>


    {% endblock %}

    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "stylesheet"
    href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet"
    href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type = "text/javascript"
    src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper blue-grey darken-4">

        <ul id="nav-mobile" class="left">
            <li><a href="/">Logo</a></li>
            <li><a href="/">Home</a></li>
            {% if user.is_superuser %}

            <li class="green darken-4" ><a href="/register">Register</a></li>
            <li><a href="/admin">Admin</a></li>

            {% endif %}
            {% if user.is_authenticated %}
                <li>

                <a class = "btn dropdown-button blue-grey darken-4" href = "#" data-activates = "dropdown">ADD
                <i class="material-icons right">arrow_drop_down</i></a>

                <ul id = "dropdown" class = "dropdown-content">
                    <li><a href = "/material">Add Material</a></li>
                    <li><a href = "/type">Add Type</a></li>
                    <li><a href = "/loaner">Add Loaner</a></li>
                </ul>
            {% endif %}
        </ul>
        <ul class = 'right'>
            {% if user.is_authenticated %}
                <li><a href="../../loan-summary">
                        <span class="trigger red darken-4">  {{ request.user|loan_materials_count }}  </span>
                        <i class="material-icons right">add_shopping_cart</i>
                        <span class="clear fix d-none d-sm-inline-block">   Loan</span>
                    </a>
                </li>
                <li><a href="#" class = "btn dropdown-button red darken-4">{{user.username|title}}</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                 <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
        </div>
         <div class="nav-wrapper">
          <form>
            <div class="input-field grey lighten">
              <input id="search" name="search" type="search"  required>
              <label class="label-icon" for="search" ><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
    </nav>

 </div>
<nav></nav>